<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<script>
  let TaskCards = {
    props: ['tasks', 'groupname', 'draggableid'],
    template: `
      <draggable
        :group="groupname"
        :id="draggableid"
        @end="onEnd"
        animation="200"
      >
        <v-row v-for="(task, index) in tasks" :key="task.id">
          <v-col>
            <v-card :style="getCardBorderStyle(task.deadline, task.plannedDate)">
              <v-card-title class="pa-2 pb-0" dense>
                <span class="body-1">{{task.icon}}</span>{{task.title}}
              </v-card-title>
              <v-card-text class="pa-2 pt-0 body-1">
                <v-row dense>
                  <v-col class="py-0">
                    <span v-if="getRemainDayNum(task.plannedDate) !== null">
                      <span class="body-2">⚠️</span>
                      {{getRemainDayNum(task.plannedDate)}}
                    </span>
                  </v-col>
                  <v-col class="py-0">
                    <span v-if="getRemainDayNum(task.deadline) !== null">
                      <span class="body-2">💥</span>
                      {{getRemainDayNum(task.deadline)}}
                    </span>
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col class="py-0">
                    <v-checkbox @change="onChangeWaiting(index);" label="Waiting" v-model="task.waiting" class="mt-0" dense hide-details></v-checkbox>
                  </v-col>
                  <v-col cols="auto" class="py-0">
                    <v-icon v-if="task.note">mdi-text</v-icon>
                  </v-col>
                  <v-col cols="auto" class="py-0">
                    <v-btn @click="showDetailDialog(task.id)" icon small>
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row v-show="false">
                  <v-col>
                    <span id="taskId">{{task.id}}</span>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </draggable>
    `,
    data: () => {
      return {};
    },
    methods: {
      onEnd: function (event) {
        this.$emit('on-end', event);
      },
      showDetailDialog: function (tgtId) {
        this.$emit('show-detail-dialog', tgtId);
      },
      onChangeWaiting: function (index) {
        this.$emit('switch-is-processing', true);
        const that = this;
        google.script.run
          .withSuccessHandler((res) => {
            execAfterUpsertProcess(res);
            that.$emit('switch-is-processing', false);
          })
          .upsertTask([this.tasks[index]]);
      },
      getCardColor: function (deadline, plannedDate) {
        const remainNum = this.getEitherRemainDayNum(deadline, plannedDate);
        if (remainNum === null) {
          return '';
        }
        if (remainNum < 0) {
          return 'red darken-4';
        } else if (remainNum === 0) {
          return 'deep-orange';
        } else if (remainNum === 1) {
          return 'orange';
        } else if (remainNum < 4) {
          return 'amber';
        } else {
          return '';
        }
      },
      getCardBorderStyle: function (deadline, plannedDate) {
        let colorCode = 'E0E0E0';
        const remainNum = this.getEitherRemainDayNum(deadline, plannedDate);
        if (remainNum < 0) {
          colorCode = 'B71C1C';
        } else if (remainNum === 0) {
          colorCode = 'FF5722';
        } else if (remainNum === 1) {
          colorCode = 'FF9800';
        } else if (remainNum < 4) {
          colorCode = 'FFCA28';
        }
        return 'border-left: solid 4px #' + colorCode + ' !important;';
      },
      getRemainDayNum: function (tgtDate) {
        if (tgtDate) {
          return Number(
            moment(tgtDate, 'YYYY-MM-DD').diff(
              moment(moment().format('YYYY-MM-DD') + 'T00:00:00'),
              'd'
            )
          );
        } else {
          return null;
        }
      },
      getEitherRemainDayNum: function (deadline, plannedDate) {
        if (deadline || plannedDate) {
          if (deadline) {
            return Number(
              moment(deadline, 'YYYY-MM-DD').diff(
                moment(moment().format('YYYY-MM-DD') + 'T00:00:00'),
                'd'
              )
            );
          } else {
            return Number(
              moment(plannedDate, 'YYYY-MM-DD').diff(
                moment(moment().format('YYYY-MM-DD') + 'T00:00:00'),
                'd'
              )
            );
          }
        } else {
          return null;
        }
      },
    },
  };

  var vm = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    components: {
      'task-cards': TaskCards,
    },
    data: {
      taskInfos: [],
      tasklistInfo: {},
      detailShown: {
        id: '',
        title: '',
        customStatus: '',
        tasklistId: '',
        deadline: '',
        plannedDate: '',
        waiting: '',
        note: '',
      },
      shownTasklistId: '',
      selectedOrderBy: 'Date',
      dispDetailDialog: false,
      dispDeadlinePicker: false,
      dispPlannedDatePicker: false,
      isLoading: false,
      isProcessing: false,
      statuses: [
        { text: 'Todo', value: 'todo' },
        { text: 'This week', value: 'thisWeek' },
        { text: 'Today', value: 'today' },
        { text: 'In progress', value: 'inProgress' },
        { text: 'Done', value: 'done' },
      ],
      orderBys: [
        { text: 'Date', value: 'Date' },
        { text: 'Custom', value: 'Custom' },
      ],
      titleRules: [(value) => !!value || 'Required.'],
    },
    computed: {
      classifies: function () {
        return Object.keys(this.tasklistInfo).map((id) => {
          const tmpTasklist = this.tasklistInfo[id];
          const icon = tmpTasklist.icon;
          return {
            text: icon + tmpTasklist.title,
            value: id,
          };
        });
      },
    },
    methods: {
      todoTasks: function () {
        return this.filterTasks('todo');
      },
      thisWeekTasks: function () {
        return this.filterTasks('thisWeek');
      },
      todayTasks: function () {
        return this.filterTasks('today');
      },
      inProgressTasks: function () {
        return this.filterTasks('inProgress');
      },
      doneTasks: function () {
        return this.filterTasks('done');
      },
      onEnd: function (event) {
        const oldListName = event.from.id;
        const oldIndex = event.oldIndex;
        const newListName = event.to.id;
        const newIndex = event.newIndex;
        if (
          oldListName !== newListName ||
          (oldIndex !== newIndex &&
            this.shownTasklistId &&
            this.selectedOrderBy === 'Custom')
        ) {
          this.isProcessing = true;
          const taskIdSpan = event.item.innerHTML.match(
            /<span id=\"taskId\">[a-zA-Z0-9!-~]*<\/span>/g
          )[0];
          const taskId = taskIdSpan
            .replace(/<span id=\"taskId\">/g, '')
            .replace(/<\/span>/g, '');
          const tgtIndex = this.taskInfos.findIndex((taskInfo) => {
            return taskInfo.id === taskId;
          });
          // 対象タスクのステータスを変更
          this.taskInfos[tgtIndex].customStatus = newListName.replace(
            'Tasks',
            ''
          );
          if (this.shownTasklistId && this.selectedOrderBy === 'Custom') {
            if (newIndex === 0) {
              // 一番前に持ってくるため
              this.taskInfos[tgtIndex].previous = '';
            } else {
              const previousTaskIdSpan =
                event.to.parentNode.children[0].children[
                  newIndex - 1
                ].innerHTML.match(
                  /<span id=\"taskId\">[a-zA-Z0-9!-~]*<\/span>/g
                )[0];
              const previousTaskId = previousTaskIdSpan
                .replace(/<span id=\"taskId\">/g, '')
                .replace(/<\/span>/g, '');
              this.taskInfos[tgtIndex].previous = previousTaskId;
            }
            // TODO 自分の後ろに並んでいるタスク（★）のポジション（★P）を取得
            // TODO ★P-1のタスクのidを取得（つまり、現状★のひとつ前にあるタスクのid）
            // TODO ★P-1のタスクのidをプロパティ「previous」として追加
            // TODO （サーバサイド）previousの値があったら、moveを実行する
            // TODO （サーバサイド）moveを実行したタスクリストのタスク情報を全部返す（＝ポジション値を更新）
          }
          google.script.run
            .withSuccessHandler((res) => {
              execAfterUpsertProcess(res);
              vm.isProcessing = false;
            })
            .upsertTask([this.taskInfos[tgtIndex]]);
        }
      },
      filterTasks: function (customStatusStr) {
        let tmpTasks = this.taskInfos
          .filter((task) => {
            return (
              !this.shownTasklistId || task.tasklistId === this.shownTasklistId
            );
          })
          .filter((task) => {
            return !task.parent && task.customStatus === customStatusStr;
          });
        if (this.selectedOrderBy === 'Date') {
          return tmpTasks && tmpTasks.length > 0
            ? tmpTasks.sort(compareWithDate)
            : tmpTasks;
        } else {
          return tmpTasks && tmpTasks.length > 0
            ? tmpTasks.sort(compareWithPosition)
            : tmpTasks;
        }
      },
      showDetailDialog: function (tgtId) {
        const tgtIndex = this.taskInfos.findIndex((taskInfo) => {
          return taskInfo.id === tgtId;
        });
        this.detailShown = this.taskInfos[tgtIndex];
        this.dispDetailDialog = true;
      },
      showNewDialog: function () {
        this.detailShown = {
          id: '',
          title: '',
          customStatus: 'todo',
          tasklistId: this.classifies[0].value,
          deadline: '',
          plannedDate: '',
          waiting: false,
          note: '',
        };
        this.dispDetailDialog = true;
      },
      getSubTasks: function (taskId) {
        return (
          this.taskInfos
            .filter((taskInfo) => {
              return taskInfo.parent === taskId;
            })
            .sort(compareWithPosition) || []
        );
      },
      createSubTask: function (parentId, parentTasklistId) {
        const initTask = {
          id: '',
          title: '',
          customStatus: 'todo',
          tasklistId: parentTasklistId,
          parent: parentId,
          deadline: '',
          plannedDate: '',
          waiting: false,
          note: '',
        };
        google.script.run
          .withSuccessHandler((res) => {
            execAfterUpsertProcess(res);
            vm.isProcessing = false;
          })
          .upsertTask([initTask]);
      },
      onChangeSubTaskCheck: function (taskId) {
        const tgtIndex = this.taskInfos.findIndex((taskInfo) => {
          return taskInfo.id === taskId;
        });
        // console.log(this.taskInfos[tgtIndex].status);
        // console.log('↓');
        if (this.taskInfos[tgtIndex].status === 'completed') {
          this.taskInfos[tgtIndex].status = 'needsAction';
          this.taskInfos[tgtIndex].customStatus = 'todo';
        } else {
          this.taskInfos[tgtIndex].status = 'completed';
          this.taskInfos[tgtIndex].customStatus = 'done';
        }
        // console.log(this.taskInfos[tgtIndex].status);
      },
      switchIsProcessing: function (value) {
        this.isProcessing = value;
      },
      updateTaskById: function (task) {
        const tgtId = task.beforeId ? task.beforeId : task.id;
        const tgtIndex = this.taskInfos.findIndex((taskInfo) => {
          return taskInfo.id === tgtId;
        });
        if (tgtIndex === -1) {
          this.taskInfos.push(task);
        } else {
          this.taskInfos[tgtIndex] = task;
        }
      },
      goToMyGoogleCalendar: function () {
        window.open('https://calendar.google.com/calendar/u/0/r', '_blank');
      },
      loadAllTaskData: function () {
        this.isLoading = true;
        google.script.run
          .withSuccessHandler((res) => {
            vm.tasklistInfo = JSON.parse(res);
            // console.log(vm.tasklistInfo);
          })
          .getTasklistInfo();
        google.script.run
          .withSuccessHandler((res) => {
            vm.taskInfos = JSON.parse(res);
            vm.isLoading = false;
            // console.log(vm.taskInfos);
          })
          .getAllTaskInfos();
      },
    },
    mounted: function () {
      this.loadAllTaskData();
    },
    watch: {
      dispDetailDialog: function (newval, oldVal) {
        // 閉じられたかつタイトルがある場合（タイトルがある場合はキャンセル扱いとするため）
        if (!newval && this.detailShown.title) {
          this.isProcessing = true;
          let tgtTasks = this.getSubTasks(this.detailShown.id);
          tgtTasks.push(this.detailShown);
          // console.log(tgtTasks);
          google.script.run
            .withSuccessHandler((res) => {
              execAfterUpsertProcess(res);
              vm.isProcessing = false;
            })
            .upsertTask(tgtTasks);
        }
      },
    },
  });
  window.vm = vm;
  function execAfterUpsertProcess(res) {
    const tmpRes = JSON.parse(res);
    console.log(tmpRes);
    if (tmpRes.errors) {
      tmpRes.errors.forEach((error, index) => {
        console.error('------Error' + index + '------');
        console.log('process: ' + error.process);
        console.table(error.error);
        console.table(error.taskInfo);
      });
      console.error('-----------------');
    } else {
      tmpRes.taskInfos.forEach((taskInfo) => {
        console.table(taskInfo);
        vm.updateTaskById(taskInfo);
      });
    }
  }
  // https://www.webprofessional.jp/sort-an-array-of-objects-in-javascript/
  function compareWithDate(a, b) {
    // Use toUpperCase() to ignore character casing
    const dayA = a.deadline ? a.deadline.toString() : a.plannedDate.toString();
    const dayB = b.deadline ? b.deadline.toString() : b.plannedDate.toString();
    // 空白の場合は急がないタスクなので後ろに回す
    let comparison = 0;
    if (dayA && dayB) {
      if (dayA > dayB) {
        comparison = 1;
      } else if (dayA < dayB) {
        comparison = -1;
      }
      // dayBが空白の場合
    } else if (dayA) {
      comparison = -1;
      // dayAが空白の場合
    } else {
      comparison = 1;
    }
    return comparison;
  }
  function compareWithPosition(a, b) {
    // Use toUpperCase() to ignore character casing
    const positionA = a.position;
    const positionB = b.position;
    // 空白の場合は急がないタスクなので後ろに回す
    let comparison = 0;
    if (positionA > positionB) {
      comparison = 1;
    } else if (positionA < positionB) {
      comparison = -1;
    }
    return comparison;
  }
</script>
